* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #eee;
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #ce2952;
  color: #eee;
  backdrop-filter: blur(4px) saturate(200%);

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .buttons {
      margin-top: 16px;
      gap: 8px;
      display: flex;
      justify-content: space-between;
    }

    button {
      background-color: #222;
      border: 1px solid white;
      color: #eee;
      padding: 4px 16px;
      flex: 1;

      &:hover {
        background-color: #333;
        cursor: pointer;
      }
    }
  }
}

.app-container {
  display: flex;
  height: 100vh;
}

.sidemenu {
  border-right: 2px solid #ffffff79;
  width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

::backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  margin: auto;
}

.project-menu,
.notes-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 8px;

  button {
    background-color: #333;
    color: inherit;
    padding: 8px 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;

    &.active {
      border-color: white;
    }
  }
}

#new-project-btn,
#new-note-btn {
  background-color: #333;
  padding: 8px 8px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  border: 1px dashed rgba(255, 255, 255, 0.466);
}

.notes-container {
  padding: 16px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 400px));
  gap: 16px;
  div {
    padding: 16px;
    background-color: #333;
    border-radius: 8px;
    border: 1px solid grey;
  }
}

.done {
  text-decoration: line-through;
}
